.search {
    position: absolute;
    top: 32px;
    left: 29%;
    width: 100vw;
  }
  
  .search > h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 558px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 320px;
  }
  
  .search > input {
    width: 558px;
    padding: 20px;
    position: absolute;
    left: 0;
    height: 30px;
    top: 375px;
    border: none;
  }
  
  .search > input:focus {
    outline-width: 0;
  }
  
  .search > button {
    position: absolute;
    left: 0;
    top: 420px;
    text-transform: inherit !important;
    background-color: #2AA74B;
    color: white;
    width: 559px;
  }
  
  .search > button:hover {
    background-color: white;
    color: #2AA74B;
  }
  